<section class="section clearfix">
  <div class="col col-6">
    <h2>From UI components to ambitious apps</h2>

    <p>
       Because Glimmer powers the components in Ember, there’s a battle-tested,
       full-stack framework waiting for you—if you need it.  Just drop your
       Glimmer components into an Ember app. You won’t need to change a thing.
    </p>
  </div>

  <div class="col col-6">
    <img src="#" height="300" width="400">
  </div>
</section>
