<header>
  <div class="flex justify-between items-center">
    <div class="mr2">
      <h1 class="logo">Glimmer</h1>
    </div>

    <div>
      <nav>
        <ul class="list-reset">
          <li class="inline-block mr2"><a href="/docs/getting-started">Getting Started</a></li>
          <li class="inline-block mr2"><a href="/api">API Docs</a></li>
          <li class="inline-block"><a href="https://github.com/glimmer">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section>
  <div class="center">
    <h2 class="mb0">Fast and light-weight UI components</h2>

    <h3 class="mt1">
      With the attention to detail you've come to expect from <em>Ember</em>.
    </h3>
  </div>

  <div class="max-width-2 mx-auto my4">
    <div class="raised-panel">
      <%- partial("_quickstart") %>
    </div>
  </div>
</section>
