body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

pre {
  margin: 0;
}

a {
  font-weight: 600;
  text-decoration: none;
}

code {
  font-family: $monospace-font-family;
  font-size: 0.95rem;
}

code:not([class]) {
  padding: 0.25rem 0.15rem;
  font-size: 0.8rem;
  background: #f5f2f0;
  border-radius: 3px;
  vertical-align: middle;
}
