<!DOCTYPE html>
<html>
  <head>
    <title>Glimmer</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/basscss.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body class="<%= current.source %>">
    <div class="max-width-4 mx-auto p2">
      <%- yield %>
    </div>
  </body>
</html>
