<!DOCTYPE html>
<html>
  <head>
    <title>Glimmer</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@5.0.0/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>

  <body class="<%= current.source %>">
    <%- yield %>
  </body>
</html>
