<div class="max-width-4 mx-auto p2">
  <header>
    <div class="flex justify-between items-center">
      <div class="mr2">
        <h1>Glimmer</h1>
      </div>

      <div>
        <nav>
          <ul class="list-reset">
            <li class="inline-block mr2"><a href="/docs/getting-started">Getting Started</a></li>
            <li class="inline-block mr2"><a href="/api">API Docs</a></li>
            <li class="inline-block"><a href="https://github.com/glimmer">GitHub</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section>
    <div class="center">
      <h2 class="mb0">Fast and light-weight UI components</h2>

      <h3 class="mt1">
        With the attention to detail you've come to expect from <em>Ember</em>.
      </h3>
    </div>

    <div class="max-width-2 mx-auto my4">
      <div class="raised-panel">
        <%- partial("_quickstart") %>
      </div>
    </div>
  </section>

  <section class="section clearfix">
    <div class="col col-6">
      <h2>Close to the metal</h2>

      <p>
        Glimmer is one of the fastest DOM rendering
        engines, delivering exceptional performance for
        initial renders as well as updates. Architected
        like a virtual machine (VM), Glimmer compiles
        your templates into low-level code so it can run
        as fast as possible—without sacrificing ease of
        use.
      </p>
    </div>

    <div class="col col-6">
      <img src="#" height="300" width="400">
    </div>
  </section>

  <section class="section clearfix">
    <div class="col col-6">
      <img src="#" height="300" width="400">
    </div>

    <div class="col col-6">
      <h2>Productive out of the box</h2>

      <p>
        Don’t waste days getting your application
        compiling.  Glimmer apps are built with Ember
        CLI, so you get a production-ready build pipeline
        in seconds. No fussy configuration files needed.
      </p>
    </div>
  </section>

  <section class="section clearfix">
    <div class="col col-6">
      <h2>From UI components to ambitious apps</h2>

      <p>
        Because Glimmer powers the components in Ember,
        there’s a battle-tested, full-stack framework
        waiting for you—if you need it. Just drop your
        Glimmer components into an Ember app. You won’t
        need to change a thing.
      </p>
    </div>

    <div class="col col-6">
      <img src="#" height="300" width="400">
    </div>
  </section>

  <footer>
    <div>
      <strong>Glimmer</strong> is free, open source, and always will be.
    </div>

    <div>
      Copyright 2017 Ember.js
    </div>
  </footer>
</div>
