$background-color: #1E293B;
$highlight-color: #C9CBCF;
$link-color: white;
$section-heading-color: #F5835F;
$text-color: #9DA1A8;

$raised-panel-background: rgba(255, 255, 255, 0.1);

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link,
a:visited {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}

em {
  color: $highlight-color;
}

h2 {
  color: $section-heading-color;
  font-weight: normal;
}

pre {
  margin: 0;
}

.index {
  background: $background-color;
  color: $text-color;
}

.raised-panel {
  background: $raised-panel-background;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.section {
  margin: 4rem 0;
}
