<header>
  <div class="sm-flex justify-between items-center">
    <div class="mr2">
      <h1 class="logo"><link-to href="/">Glimmer</link-to></h1>
    </div>

    <div>
      <nav>
        <ul class="list-reset">
          <li class="inline-block mr2">
            <link-to href="/guides/installing">Guides</link-to>
          </li>
          <li class="inline-block mr2"><a href="/api">API Docs</a></li>
          <li class="inline-block mr2"><a href="https://github.com/glimmerjs/glimmer-demos">Demo</a></li>
          <li class="inline-block"><a href="https://github.com/glimmerjs/">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
