.index {
  background: $dark-background-color;
  color: $dark-text-color;

  h1 {
    color: $dark-page-heading-color;
  }

  h2 {
    color: $dark-section-heading-color;
  }

  a:link,
  a:visited {
    color: $dark-link-color;
  }

  strong,
  em {
    color: $dark-highlight-color;
  }
}
