$dark-blue: #215296;

.index {
  color: $text-color;

  h1 {
    color: $page-heading-color;
  }

  h2 {
    color: $dark-blue;
  }

  a:link,
  a:visited {
    color: $link-color;
  }

  strong,
  em {
    color: $highlight-color;
  }
}
