$tint-color: #F5835F;

$background-color: #1E293B;
$border-color: rgba(255, 255, 255, 0.1);
$highlight-color: #BCCAE2;
$link-color: white;
$page-heading-color: white;
$raised-panel-background: #2D3A4E;
$section-heading-color: $tint-color;
$text-color: #8C9AB1;
