<div>
  <section class="hero page-section">
    <div class="center">
      <h2 class="mb0">Fast and light-weight UI components for the web</h2>

      <h3 class="mt1">
        With the attention to detail you've come to expect from <a href="https://emberjs.com/">Ember</a>.
      </h3>
    </div>
  </section>

  <section class="page-section introduction">
    <div class="clearfix mxn2">
      <div class="md-col md-col-6 px2">
        <h2>Quickstart</h2>

        <ol>
          <li>
            <small>Install the Ember build tool:</small><br>
            <code>npm install -g ember-cli/ember-cli</code>
          </li>

          <li>
            <small>Create a new Glimmer app:</small><br>
            <code>ember new my-app -b @glimmer/blueprint</code>
          </li>

          <li>
            <small>Start the development server</small><br>
            <code>cd my-app/ &amp;&amp; ember s</code>
          </li>
        </ol>

        <a class="button" href="/guides/installing">Getting Started Guide</a>
      </div>

      <div class="md-col md-col-6 px2">
        <h2>Screencast</h2>

        <div class="raised-panel raised-panel--no-padding">
          <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/i2rwIApjz-4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix mxn2">
    <div class="md-col md-col-4 px2">
      <h2>Close to the metal</h2>

      <p>
        Glimmer is one of the fastest DOM rendering engines, delivering
        exceptional performance for initial renders as well as updates.
        Architected like a virtual machine (VM), Glimmer compiles your templates
        into low-level code so it can run as fast as possible—without sacrificing
        ease of use.
      </p>
    </div>

    <div class="md-col md-col-4 px2">
      <h2>Productive out of the box</h2>

      <p>
         Don’t waste days getting your application compiling. Glimmer apps are
         built with Ember CLI, so you get a production-ready build pipeline in
         seconds. No fussy configuration files needed.
      </p>
    </div>

    <div class="md-col md-col-4 px2">
      <h2>From UI components to apps</h2>

      <p>
         Because Glimmer powers the components in Ember, there’s a battle-tested,
         full-stack framework waiting for you—if you need it.  Just drop your
         Glimmer components into an Ember app. You won’t need to change a thing.
      </p>
    </div>
  </section>

</div>
