<footer class="footer">
  <div class="md-flex justify-between">
    <div>
      <strong>Glimmer</strong> is free, open source, and always will be.
    </div>

    <div>
      &copy;2017 <a href="https://emberjs.com/">Ember.js</a>
    </div>
  </div>
</footer>
