<header>
  <div class="sm-flex justify-between items-center">
    <div class="mr2">
      <h1 class="logo"><a href="/">Glimmer</a></h1>
    </div>

    <div>
      <nav>
        <ul class="list-reset">
          <% if (showGuides) { %>
            <li class="inline-block mr2"><a href="/guides/installing">Guides</a></li>
          <% } %>
          <li class="inline-block mr2"><a href="/api">API Docs</a></li>
          <li class="inline-block"><a href="https://github.com/glimmerjs/glimmer-demos">Demo</a></li>
          <li class="inline-block"><a href="https://github.com/glimmerjs/">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
