<section class="hero page-section">
  <div class="center">
    <h2 class="mb0">Fast and light-weight UI components for the web</h2>

    <h3 class="mt1">
      Available for use within <a href="https://emberjs.com/">Ember.js</a> and standalone apps.
    </h3>
  </div>
</section>