<section class="page-section">
  <div class="center">
    <h2 class="mb0">Fast and light-weight UI components for the web</h2>

    <h3 class="mt1">
      With the attention to detail you've come to expect from <em>Ember</em>.
    </h3>
  </div>
</section>
