<section class="hero page-section">
  <div class="center">
    <h2 class="mb0 hero-header">Fast and light-weight UI components for the web</h2>

    <h3 class="mt1 hero-sub-header">
      With the attention to detail you've come to expect from <a href="https://emberjs.com/">Ember</a>.
    </h3>
  </div>
</section>
