<section class="hero page-section">
  <div class="center">
    <h2 class="mb0">Standalone UI component library</h2>

    <h3 class="mt1">
      Lightning-fast and light-weight UI components for the web<br>
      <small>With the attention to detail you've come to expect from the team behind <a href="https://emberjs.com/">Ember</a></small>
    </h3>
  </div>
</section>
