<section class="page-section introduction">
  <div class="clearfix mxn2">
    <div class="md-col md-col-12 px2">
      <div>
        <h2>Quickstart</h2>

        <ol>
          <li>
            <small>Install the Ember build tool:</small><br>
            <code>npm install -g ember-cli</code>
          </li>

          <li>
            <small>Create a new Glimmer app:</small><br>
            <code>ember new my-app -b @glimmer/blueprint</code>
          </li>

          <li>
            <small>Start the development server</small><br>
            <code>cd my-app/ &amp;&amp; ember s</code>
          </li>
        </ol>

        <a class="button" href="/guides/installing">Getting Started Guide</a>
      </div>
    </div>
  </div>
</section>
