<section class="page-section introduction">
  <div class="clearfix mxn2">
    <div class="md-col md-col-6 px2">
      <h2>Glimmer App Quickstart</h2>
      <ol>
        <li>
          <small>Install the Ember build tool:</small><br>
          <code>npm install -g ember-cli</code>
        </li>

        <li>
          <small>Create a new Glimmer app:</small><br>
          <code>ember new my-app -b @glimmer/blueprint</code>
        </li>

        <li>
          <small>Start the development server</small><br>
          <code>cd my-app/ &amp;&amp; ember s</code>
        </li>
        <li>
          See the 
          <a href="https://glimmerjs.com/api/">
            Glimmer API docs
          </a>
            and
          <a href="https://glimmerjs.com/guides/">
            Guides
          </a>
          to learn more!
        </li>
      </ol>

      <h2>Use in Ember.js</h2>

      <ol>
        <li>
          <small>Install Glimmer packages in your Ember app:</small><br>
          <code>npm install --dev @glimmer/component @glimmer/tracking</code>
        </li>

        <li>
          <small>Generate a Glimmer Component</small><br>
          <code>ember generate my-component -gc</code>
        </li>
        <li>
          See the Ember API docs for 
          <a href="https://api.emberjs.com/ember/release/modules/@glimmer%2Fcomponent">
            @glimmer/component
          </a>
          and
          <a href="https://api.emberjs.com/ember/release/modules/@glimmer%2F">
            @glimmer/tracking
          </a>, and read the
          <a href="https://guides.emberjs.com">
            Ember Guides
          </a>
          to learn more!
        </li>
      </ol>

      <% if (showGuides) { %>
        <a class="button" href="/guides/installing">Getting Started Guide</a>
      <% } else { %>
        <a class="button" href="/api">Browse API Docs</a>
      <% } %>
    </div>

    <div class="md-col md-col-6 px2">
      <h2>Screencast</h2>

      <div class="raised-panel raised-panel--no-padding">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/<%= videoId %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
