<section class="page-section introduction">
  <div class="clearfix mxn2">
    <div class="md-col md-col-6 px2">
      <h2>Use in Ember.js:</h2>

      <ol>
        <li>
          <small>Install Glimmer packages in your Ember app:</small><br>
          <code>npm install --dev @glimmer/component @glimmer/tracking</code>
        </li>

        <li>
          <small>Generate a Glimmer Component</small><br>
          <code>ember generate my-component -gc</code>
        </li>
        <li>
          <p>See the
            <a href="https://emberjs.com/editions/octane">
              Ember Octane Guides
            </a>
            to learn more!
          </p>
        </li>
      </ol>

      <h2>Standalone Glimmer App:</h2>
      <p>Please note this is experimental</p>
      <ol>
        <li>
          <small>Install the Ember build tool:</small><br>
          <code>npm install -g ember-cli</code>
        </li>

        <li>
          <small>Create a new Glimmer app:</small><br>
          <code>ember new my-app -b @glimmerx/blueprint</code>
        </li>

        <li>
          <small>Start the development server</small><br>
          <code>cd my-app/ &amp;&amp; npm run start</code>
        </li>
      </ol>



    </div>

    <div class="md-col md-col-6 px2 pt4">
      <img width="520px" src="images/glimmer-component.png" alt="Example of a Glimmer component">
    </div>
  </div>
</section>