<section class="page-section clearfix">
  <div class="md-col md-col-6">
    <h2>Close to the metal</h2>

    <p>
      Glimmer is one of the fastest DOM rendering engines, delivering
      exceptional performance for initial renders as well as updates.
      Architected like a virtual machine (VM), Glimmer compiles your templates
      into low-level code so it can run as fast as possible—without sacrificing
      ease of use.
    </p>
  </div>

  <div class="md-col md-col-6">
    <img src="#" height="300" width="400">
  </div>
</section>
