<section class="page-section clearfix">
  <div class="md-col-right md-col-6">
    <h2>Productive out of the box</h2>

    <p>
       Don’t waste days getting your application compiling. Glimmer apps are
       built with Ember CLI, so you get a production-ready build pipeline in
       seconds. No fussy configuration files needed.
    </p>
  </div>

  <div class="md-col-right md-col-6">
    <img src="#" height="300" width="400">
  </div>
</section>
