body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

pre {
  margin: 0;
}

a:link,
a:visited {
  font-weight: 600;
  text-decoration: none;
}

code {
  font-family: "Roboto Mono", Menlo, Monaco, monospace;
}
