$tint-color: #F37746;
$background-color: #FDFDFD;
$border-color: rgba(0, 0, 0, 0.1);
$highlight-color: #BCCAE2;
$link-color: #1E293C;
$page-heading-color: $tint-color;
$raised-panel-background: #2D3A4E;
$section-heading-color: $tint-color;
$text-color: #1E293B;

$dark-tint-color: #F5835F;
$dark-background-color: #1E293B;
$dark-border-color: rgba(255, 255, 255, 0.1);
$dark-highlight-color: #BCCAE2;
$dark-link-color: white;
$dark-page-heading-color: white;
$dark-raised-panel-background: #2D3A4E;
$dark-section-heading-color: $dark-tint-color;
$dark-text-color: #8C9AB1;
