$background-color: #1E293B;
$border-color: rgba(255, 255, 255, 0.1);
$highlight-color: #C9CBCF;
$link-color: white;
$raised-panel-background: #2D3A4E;
$section-heading-color: #F5835F;
$text-color: #8C9AB1;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  color: $section-heading-color;
}

pre {
  margin: 0;
}

a:link,
a:visited {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}

em {
  color: $highlight-color;
}

.index {
  background: $background-color;
  color: $text-color;
}

.raised-panel {
  background: $raised-panel-background;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.section {
  margin: 4rem 0;
}

.footer {
  border-top: 1px solid $border-color;
  font-size: 0.875rem;
  padding-top: 1rem;
}
